.app-content-layout{
    padding-top: 5rem;
    height:200rem;
    clear: both;
    .swiper{
        height:55rem;
        width:100%;
        background:url('../src/assets/images/timg.jpg') no-repeat center center;
        background-size: 100% 100%;
        background-attachment: fixed;
    }
    .admin{
        height:60rem;
        background: #FCFCFC;
        border-radius: 5px;
        border: .05rem solid #FCFCFC;
        box-shadow: 0 .05em .25em gray;
    }

};